{% extends "./_TestModel_templates.html" %}
{% load static %}

{% block title %}Devices{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'ionicons/2.0.1/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block nav-item %}
    <li class="nav-item">
            <a href="/index/" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home Page
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-open">
            <a href="/devices/" class="nav-link active">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                My Devices
				<i class="right fas fa-angle-left"></i>
              </p>
            </a>
			<ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/devices/addDevices/" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add devices</p>
                </a>
              </li>
            </ul>
          </li>

          </li>
          <li class="nav-item has-treeview menu-close">
            <a href="/tasks/" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                My Tasks
				<i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
{% endblock nav-item %}

<!-- head content -->
{% block headname %}
	<h1 class="m-0 text-dark">Add device</h1>		
{% endblock headname %}

{% block active-page %}
   <li class="breadcrumb-item"><a href="/devices/">My Devices</a></li>
   <li class="breadcrumb-item active">My Devices</li>
{% endblock active-page %}

{% block content %}

	<!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
		  
            <form class="card-body" action="" method="post">
			
			  {% if device_form.captcha.errors %}
                <div class="alert alert-warning">{{ device_form.captcha.errors }}</div>
              {% elif message %}
                <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
			
			  {% csrf_token %}
			  
			  <div class="form-group" >
                {{ device_form.host_name.label_tag }}
                {{ device_form.host_name }}
              </div>
			  
			  <div class="form-group" >
                {{ device_form.DUT_IP.label_tag }}
                {{ device_form.DUT_IP }}
              </div>
			
			  <div class="form-group" >
                {{ device_form.HDT_IP.label_tag }}
                {{ device_form.HDT_IP }}
              </div>
			  
			  <div class="form-group" >
                {{ device_form.tag.label_tag }}
                {{ device_form.tag }}
              </div>
			  
			  <div class="form-group" >
                {{ device_form.email.label_tag }}
                {{ device_form.email }}
              </div>
			  
			  <div class="form-group" >
                {{ device_form.status.label_tag }}
                {{ device_form.status }}
              </div>
			  
              <div class="col-12">
                <a href="/devices/" class="btn btn-secondary">Cancel</a>
			    <button type="submit" class="btn btn-success float-right">Submit</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </section>
   <!-- /.content -->

{% endblock content %}

{% block script %}
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
{% endblock %}
