{% extends "./_TestModel_templates.html" %}
{% load static %}

{% block title %}Tasks{% endblock %}

{% block css %}{% endblock %}


<!-- head content -->
{% block headname %}
	<h1 class="m-0 text-dark">Start a Task</h1>		
{% endblock headname %}

{% block active-page %}
   <li class="breadcrumb-item"><a href="/tasks/">My Tasks</a></li>
   <li class="breadcrumb-item active">Start a task</li>
{% endblock active-page %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        
        <!-- Timelime example  -->
        <div class="row">
          <div class="col-md-12">
            <!-- The time line -->
            <div class="timeline">
              <!-- timeline time label -->
              <div class="time-label">
                <span class="bg-gray">Devices</span>
              </div>
              <!-- /.timeline-label -->
			  {% if devices %}
			    {% for device in devices %}
                  <!-- timeline item -->
                  <div>
                    <i class="fas fa-tag bg-green"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                      <h3 class="timeline-header"><a href="#">{{ device.host_name }}</a> was added for this task</h3>

                      <div class="timeline-body">
                        You can view device details or cancel this by following buttons
                      </div>
                      <div class="timeline-footer">
					    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-device">
                          view details
						</button>
                        <a class="btn btn-danger btn-sm">Delete</a>
                      </div>
                    </div>
					
                  </div>
				  
                  <!-- END timeline item -->
				{% endfor %}
			  {% else %}
			    <!-- timeline item -->
                <div>
				  <i class="fas fa-exclamation bg-red"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header">No devices was added for this task</h3>

                    <div class="timeline-body">
                      You may go and add one
                    </div>
                    <div class="timeline-footer">
                      <a class="btn btn-primary btn-sm" href="/devices/">add device</a>
                    </div>
                  </div>
                </div>
                <!-- END timeline item -->
			  {% endif %}
			  
              <!-- timeline time label -->
              <div class="time-label">
                <span class="bg-gray">Test case</span>
              </div>
              <!-- /.timeline-label -->
              {% if device.id %}
                <!-- timeline item -->
                <div>
                  <i class="fas fa-tag bg-green"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> 12:05</span>
                    <h3 class="timeline-header"><a href="#">{{ device.host_name }}</a> was added for this task</h3>

                    <div class="timeline-body">
                      You can view device details or cancel this by following buttons
                    </div>
                    <div class="timeline-footer">
					  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-device">
                        view details
					  </button>
                      <a class="btn btn-danger btn-sm">Delete</a>
                    </div>
                  </div>
                </div>
                <!-- END timeline item -->
			  {% else %}
			    <!-- timeline item -->
                <div>
				  <i class="fas fa-exclamation bg-red"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header">No test case was added for this task</h3>

                    <div class="timeline-body">
                      You may go and add one
                    </div>
                    <div class="timeline-footer">
                      <a class="btn btn-primary btn-sm" href="#">add a test</a>
                    </div>
                  </div>
                </div>
                <!-- END timeline item -->
			  {% endif %}
              
              <div>
                <i class="fas fa-clock bg-gray"></i>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.timeline -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <div class="modal fade" id="modal-device">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Device Info:</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
			
            <div class="modal-body" style="height: 100%;">
			
			  <div class="form-group">
                    <label for="lastname" class="col-sm-3 control-label">host_name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="{{ device.host_name }}" id="{{ device.host_name }}" required="required"
                               placeholder="host name of your device">
                        </input>
                    </div>
              </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-3 control-label">版本号</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="version" id="version" required="required"
                               placeholder="请输入当前版本号">
                        </input>
                    </div>
                </div>

                 <div class="form-group">
                    <label for="firstname" class="col-sm-3 control-label">转测时间</label>
                     <div class='input-group col-sm-7 date' id='datetimepicker2'>
{#                     <div class="col-sm-7" id='datetimepicker2'>#}
                         <input type='text' class="form-control" name="submit_test_time" id="submit_test_time" required="required">
                         <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                         </span>
                     </div>

                 </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-3 control-label">用例总数</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="case_num" id="case_num" required="required" oninput="value=value.replace(/[^\d]/g,'')"
                               placeholder="请输入冒烟用例总数">
                        </input>
                    </div>
                </div>

                 <div class="form-group">
                    <label for="firstname" class="col-sm-3 control-label">执行总数</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="executed_num" id="executed_num" required="required" oninput="value=value.replace(/[^\d]/g,'')"
                               placeholder="请输入已执行用例数">
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-3 control-label">成功数</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="pass_num" id="pass_num" required="required" oninput="value=value.replace(/[^\d]/g,'')"
                               placeholder="请输入已执行成功数">
                        </input>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-3 control-label">失败数</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="fail_num" id="fail_num" required="required" oninput="value=value.replace(/[^\d]/g,'')"
                               placeholder="请输入已执行失败数">
                        </input>
                    </div>
                </div>

				<div class="form-group">
                    <label for="firstname" class="col-sm-3 control-label">项目名称</label>
                    <div class="col-sm-7">
                    <select data-placeholder="选择项目..." class="form-control" name="project_name" id="project_name" required="required">
                                    <option value="">请选择项目</option>
                                    {% for key,value in project_data.items %}
                                    <option value="{{ value }}" hassubinfo="true">{{ key }}</option>
                                    {% endfor %}
                                </select>

                    </div>
                </div>

            </div>
			
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock content %}



{% block script %}

<script>
//console.log('{{ device_id }}');
$(document).ready(function(){
  if('{{ device_id }}' != "None"){
    $("span:contains(Devices)").attr("class","bg-green");
  }else{
  };
});

</script>

{% endblock %}