{% extends "./_TestModel_templates.html" %}
{% load static %}

{% block title %}Tasks{% endblock %}

{% block css %}{% endblock %}


<!-- head content -->
{% block headname %}
	<h1 class="m-0 text-dark">My Tasks</h1>		
{% endblock headname %}

{% block active-page %}
   <li class="breadcrumb-item active">My Tasks</li>
{% endblock active-page %}

{% block content %}
<!-- Main content -->
	  <section class="content">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"></h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                <tr>
                  <th>No.</th>
                  <th>name</th>
                  <th>progress</th>
				  <th>Status</th>
				  <th>Opration</th>
				  <th>Owner</th>
				  <th>Date</th>
                  
                </tr>
                </thead>
                <tbody>
				
				{% for task in tasks %}
	            <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
				    <a  href="#">{{ task.name }}</a>
				  </td>
                  <td>
				    {% if task.status == 1 %}
					  <div class="progress progress-sm">
                        <div class="progress-bar bg-red" role="progressbar" aria-volumenow={{ task.progress }} aria-volumemin="0" aria-volumemax="100" style="width: {{ task.progress }}%">
                      </div>
                      </div>
                      <small>
                        {{ task.progress }} Complete
                      </small>
					{% else %}
				      <div class="progress progress-sm">
                        <div class="progress-bar bg-green" role="progressbar" aria-volumenow={{ task.progress }} aria-volumemin="0" aria-volumemax="100" style="width: {{ task.progress }}%">
                      </div>
                      </div>
                      <small>
                        {{ task.progress }} Complete
                      </small>
					{% endif %}
				  </td>
				  
				  {% if task.status == 0 %}
				    <td class="project-state">
				      <span class="badge badge-success">Pass</span>
				    </td>
				    <td>
					  <a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-folder">Log</i>
                      </a>
				    </td>
				  {% elif task.status == 1 %}
				    <td class="project-state">
					  <span class="badge badge-danger">Fail</span>
					</td>
					<td>
					  <a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-folder">Log</i>
                      </a>
					</td>
			      {% elif task.status == 2 %}
				    <td class="project-state">
					  <span class="badge badge-success">Running</span>
					</td>
					<td>
					  <a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-folder">Log</i>
                      </a>
					  <a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-pause">Pause</i>
                      </a>
					</td>
				  {% elif task.status == 3 %}
				    <td class="project-state">
					  <span class="badge badge-secondary">Pause</span>
					</td>
					<td>
					  <a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-folder">Log</i>
                      </a>
					  <a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-play">Resume</i>
                      </a>
					</td>
				  {% endif %}
				  
				  <td>{{ task.Owner }}</td>
				  <td>{{ task.m_time }}</td>
                </tr>
	            {% endfor %}

                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

{% endblock content %}

{% block script %} {% endblock %}